<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, th, td {
            border: 1px solid;
        }
    </style>
    <meta charset="UTF-8">
    <title>Attempts</title>
</head>
<body>
<table>
    <tr>
        <th>Name</th>
        <th>Score</th>
        <th>Benötigte Zeit</th>
    </tr>

<tr th:each="attempt : ${attempts}" th:if="${attempt.finished}">

    <td><a th:text="${attempt.user.username}"></a></td>
    <td> <a th:text="${attempt.getScoreInPercent}"></a></td>
    <td> <a th:text="${attempt.duration.getSeconds()  + 's'}"></a></td>
</tr>
</table>
<a th:href="@{/home}">zurück</a>
</body>
</html>