<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Meine Quizzes</title>
    <link rel="stylesheet" href="/css/create_quiz.css">
</head>
<body>
<h1>Quiz lösen!</h1>


<ul>
    <li th:each="quiz : ${quizzes}">
        <a th:href="@{'/quizzes/solve/' + ${quiz.id}}" th:text="${quiz.title}">Quiz-Titel</a>


        <form th:action="@{/quizzes/solve/{id}(id=${quiz.id})}" method="post" style="display:inline;">
            <input type="hidden" name="_method" value="delete"/>
            </form>
    </li>
</ul>
<a th:href="@{/home}">zurück</a>
</body>
</html>